body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(2, 74, 8, 0.938);
    width: 300px;
    text-align: center;
}

#taskInput {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

#addTaskBtn {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#addTaskBtn:hover {
    background-color: #218838;
}

#taskList {
    list-style: none;
    padding: 0;
}

.task {
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    margin-top: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task.complete {
    text-decoration: line-through;
    color: gray;
}

#btn{
    color: #000;
    background-color: rgb(226, 78, 105);
    margin-left: 30px;
}